@import "tailwindcss";

@theme {
  --color-rolex-green: #006039;
  --color-rolex-gold: #A37E2C;
  --color-rolex-gold-light: #C4A45D;
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
